@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&family=Roboto&display=swap");

body {
    margin: 0;
    padding: 0 !important;
    font-family: "Roboto", sans-serif;
    background-color: rgb(194, 194, 194);
    text-align: center;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

/* ------------------------------- nav section ------------------------------ */

nav {
    height: 60px;
    background-color: #085394;
    max-width: 100vw;
    padding: 0 !important;
}

.nav-symbol img {
    height: 30%;
    width: 30%;
}

.nav-link {
    color: #ffd400;
    font-size: 150%;
    padding: 0;
}

.nav-link:hover {
    color: #83700f;
}

.nav-text-align {
    text-align: end;
}

#navbarNavDropdown {
    background-color: #085394;
}

.navbar button:focus {
    outline: none;
}

/* ------------------------------- home section ----------------------------- */

#home {
    width: 100vw;
}

.carousel-caption h1 {
    font-size: 500%;
}

.carousel-caption p {
    font-size: 150%;
    margin-bottom: 20%;
}

.carousel-container {
    height: 90vh;
    width: 100%;
    background-position: center;
}

.carousel-inner {
    height: 100%;
}

.fill {
    height: 90vh;
    width: 100vw;
}

.img-mobile {
    display: none;
}

/* ----------------------------------- map ---------------------------------- */

#map {
    height: 60vh;
    max-width: 1140px;
}

.btn-map {
    width: 10rem;
    background-color: #085394;
    color: #ffd400 !important;
    margin-top: 5%;
}

.btn-map:hover {
    background-color: #066ec9;
}

/* ------------------------------ info section ------------------------------ */

.info-section {
    margin-top: 5%;
    margin-bottom: 5%;
    min-height: 120px;
}

/* ------------------------------ Contact form ------------------------------ */

form {
    background-color: #085394;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 1rem;
}

.form-group {
    padding-top: 0;
}

.contact-form {
    color: #ffd400;
    margin-top: 2% !important;
}

.form-boxes {
    margin-bottom: 2rem;
}

.btn-contact {
    background-color: #ffd400;
    color: #085394 !important;
}

.btn-contact:hover {
    background-color: #83700f;
    color: #083c69 !important;
}
/* --------------------------------- Footer --------------------------------- */

footer {
    background-color: #085394;
    margin-top: 4rem;
}

.footer-row {
    margin: auto;
    padding: auto;
}

.contact-info {
    color: #ffd400;
}

.social-left {
    margin-left: 5%;
    margin-right: -22%;
}

.social-links a i {
    font-size: 50px;
    text-align: center;
    color: #ffd400;
    background: #085394;
    margin-top: 0.5rem;
}

.social-links a i:hover {
    color: #83700f;
}

/* --------------------------------- headers -------------------------------- */

.main-headers {
    font-family: "PT Serif", serif;
    margin-top: 5%;
    margin-bottom: 3%;
}

/* ------------------------------ media queries ----------------------------- */

@media screen and (max-width: 767px) {
    .nav-symbol img {
        margin-right: 50%;
    }

    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block !important;
    }

    .carousel-caption h1 {
        font-size: 300%;
    }

    .carousel-caption p {
        font-size: 100%;
        margin-bottom: 40%;
    }
    .contact-info {
        padding-top: 10px;
    }
}

@media screen and (max-width: 425px) {
    .social-container {
        margin-left: 20px;
    }
}

@media screen and (max-width: 320px) {
    .btn-mini {
        padding: 0;
    }

    .btn-map {
        width: 9rem;
        background-color: #085394;
        color: #ffd400 !important;
        margin-top: 5%;
        font-size: 14px;
    }
}
