@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(194, 194, 194);
    text-align: center;
}

/* ------------------------------- nav section ------------------------------ */

nav {
    height: 55px;
    background-color: #085394;
}

.nav-symbol img {
    height: 30%;
    width: 30%;
}

.nav-link {
    color: #fffb05;
    font-size: 1.8rem;
}

.nav-link:hover {
    color: #a1a02f;
}

.nav-text-align {
    text-align: end;
}

/* ------------------------------- home section ----------------------------- */

.carousel-container {
    height: 90vh;
    width: 100vw;
}

.carousel-inner {
    height: 100%;
}

.fill {
    height: 90vh;
    width: 100vw;
}


/* ----------------------------------- map ---------------------------------- */

#map{
    height:60vh;
    width: 90vw;
    max-width: 1140px;
}

/* ------------------------------ Contact form ------------------------------ */

form {
    background-color: #085394;
    padding-top: 15px;
    padding-bottom: 15px;
}

.form-group {
    padding-top: 0;
}

.contact-form {
    color: #fffb05;
}

.form-boxes {
    margin-bottom: 2rem;
}

/* --------------------------------- Footer --------------------------------- */

footer {
    background-color: #085394;
}

.contact-info {
    color: #fffb05;
}


.social-links a i {
    font-size: 50px;
    text-align: center;
    color: #fffb05;
    background: #085394;
}

/* --------------------------------- headers -------------------------------- */

.main-headers{
    font-family: 'PT Serif', serif;
    margin-top: 5%;
    margin-bottom: 3%;
}

/* --------------------------------- buttons -------------------------------- */

.btn-map {
    width: 10rem;
    background-color: #085394;
    color: #fffb05!important;
    margin-top: 3%;
}

.btn-map:hover {
    background-color: #066ec9;
}

.btn-contact {
    background-color: #fffb05;
    color: #085394!important;
}